<html>

<head>
    <title>Objektorientert programmering - Polymorfisme</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: rgb(59, 59, 59);
            color: rgb(221, 221, 221);
            padding: 5em;
        }
    </style>
</head>

<body>
    <h1>Objektorientert programmering - Polymorfisme</h1>
    <p>Index page</p>
    <form action="{{ url_for('new_car') }}" method="post">
        <p><input type="text" name="make" placeholder="Make"></p>
        <p><input type="text" name="model" placeholder="Model"></p>
        <p><input type="number" name="doors" placeholder="Number of doors"></p>
        <p><input type="submit" value="New car"></p>
    </form>
</body>

</html>